* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  html, body {
    height: 100%;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  }
  
  .main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    width: 100%;
    max-width: 550px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 100px;
  }
  
  .todo {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .input-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  
  .task-input{
    flex: 1 1 60%;
    min-width: 200px;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;

    font-size: 16px;
  }
  
  .add-task {
    height: 45px;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    background-color: #6c7ae0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-task:hover {
    background-color: #5a6acb;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #f4f4f4;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
  }
  
  li.done {
    text-decoration: line-through;
    color: #999;
    background-color: #e8e8e8;
  }
  
  .delete-btn {
    background-color: #d35d5f;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 1s;
  }
  
  .delete-btn:hover {
    background-color: #e60023;
  }


  .list-items:hover {
    background: #e8f0ff;
    transform: scale(1.03);
  }

.dragging {
  opacity: 0.7;
  transform: rotate(-2deg);
}
.over {
  border: 2px dashed #ff8c42;
  background: #fff3e0;
}
  
  @media (max-width: 600px) {
    .input-wrapper {
      flex-direction: column;
    }
  
    .task-input, .add-task {
      width: 100%;
    }
  }
  
